<a href="https://colab.research.google.com/github/Roshikgoud/simple-calculator/blob/main/modeling%20a%20bank%20account.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1=float(input("enter  the first number:"))
num2=float(input("enter the second number:"))

enter  the first number:10
enter the second number:10

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
sum = num1+num2

difference  = num1-num2

product = num1*num2

quotient = num1/num2

print("sum:",sum)
print("difference:",difference)
print("product:",product)
print("quotient:",quotient)

sum: 20.0
difference: 0.0
product: 100.0
quotient: 1.0

In [4]:
str = "roshik"
for i in str:
  print(i)

r
o
s
h
i
k

In [5]:
for i  in range(5):
  print(i)

0
1
2
3
4

In [6]:
count = 0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [7]:
for i in range(10):
  if i == 5:
   break
  print(i)

0
1
2
3
4

In [19]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:  # This else belongs to the inner for loop
            print(num)
    else:  # This else belongs to the outer if statement (for num == 1)
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
tuple = (1,2,3,4,5,6)
reversed_tuple = tuple[::-1]
print(reversed_tuple)

(6, 5, 4, 3, 2, 1)

In [31]:
def convert_temperature(temp,unit):
  if unit == 'c':
    return temp*9/5 +32
  elif unit =='f':
      return(temp-32)*5/9
  else:
      return none
print(convert_temperature(20,'c'))
print(convert_temperature(77,'f'))

68.0
25.0

In [10]:
def is_strong_password(password):
  if len(password) < 8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char in '!@#$%^&*()' for char in password):
    return False
  return True

weak = "password"
strong = "Strong@123"

print(is_strong_password(weak))
print(is_strong_password(strong))

False
True

In [11]:
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,10]

added_numbers = list(map(lambda x,y :x+y,numbers1,numbers2))
print(added_numbers)

[7, 9, 11, 13, 15]

In [33]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
def is_even(num):
    if num%2==0:
      return True
list(filter(is_even,lst))

[2, 4, 6, 8, 10, 12]

In [13]:
import math
math.sqrt(16)

4.0

To install a package, use the following command in a code cell, replacing `package_name` with the name of the package you want to install:

In [14]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

For example, to install the `numpy` package, you would use:

In [15]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [35]:
# Writing to a file
with open("my_file.txt", "w") as f:
  f.write("Hello, Colab!\n")
  f.write("This is a file operation example.")

# Reading from a file
with open("my_file.txt", "r") as f:
  content = f.read()
  print(content)

Hello, Colab!
This is a file operation example.

In [17]:
# Creating and writing to a new file
with open("new_file.txt", "w") as f:
  f.write("This is a brand new file!\n")
  f.write("You can add more lines here.")

print("hello .")

hello .

In [18]:
#modeling a bank account
class BankAccount:
    def __init__(self,owner,balance=0):
        self.owner=owner
        self.balance=balance

    def deposit(self,amount):
        self.balance+=amount
        print(f"{amount}is deposited into the account.The new balance is {self.balance}")

    def withdraw(self,amount):
        if amount>self.balance:
            print("insufficient funds")
        else:
            self.balance-=amount
            print(f"{amount}is withdrawn from the account.The new balance is {self.balance}")

    def get_balance(self):
        return self.balance

#create an account(object)
account=BankAccount("roshik",1000)
print(account.owner)
print(account.balance)
#deposit money
account.deposit(500)
print(account.get_balance())
#withdraw money
account.withdraw(200)
print(account.get_balance())

roshik
1000
500is deposited into the account.The new balance is 1500
1500
200is withdrawn from the account.The new balance is 1300
1300